body {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background: radial-gradient(#00b4d8 2.5px, white 2.5px 15px, #0077b6 15px);
    background-size: 25px 25px;
}


/* Panel */