<div class="form-main block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg shadow-lg text-gray-800">
    <h1 class="text-3xl font-bold text-center">QR no validos</h1>
       <a href="/encuentro"><button  class="color-custom rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 hover:bg-green-600 focus:bg-green-700" >Cargar QRs</button> </a>
</div>
<link rel="stylesheet" href="/css/login.css">